/*
font-family: 'Playfair Display', serif;
font-family: 'Gilroy';
*/

* {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

body {
    margin: 0;
    font-family: 'Gilroy';
    background-color: #0B1D26;
    background-image: url('./../img/BG.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;

}

/*       BASE             */



/*   HEADER              */
.header {
    padding-top: 64px;
    padding-bottom: 843px;
}

.nav-wrapper {
    margin-bottom: 198px;
}

.container-wide {
    max-width: 1790px;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
}

.space-beetwen {
    justify-content: space-between;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 32px;
}

.nav {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 18px;

}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.nav li+li {
    margin-left: 40px;
}

.nav a {
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.2s ease-in;
}

.nav a:hover {
    color: #FBD784;
}

.account {
    font-size: 17px;
    font-weight: 700;
    transition: color 0.2s ease-in;
}

.account:hover {
    color: #FBD784;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    transition: transform 0.5s cubic-bezier(0.180, -0.315, 0.180, 1.650);
}


.hero:hover {
    transform: translateY(-5%);
}

.hero-category {
    margin-bottom: 32px;
    position: relative;
    padding-left: 104px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.hero-category::before {
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.hero-tittle {
    margin-bottom: 32px;
    position: static;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 88px;
    line-height: 1.136;
    text-transform: capitalize;
    width: 950px;

}

.hero-sroll {
    display: inline-block;
    position: relative;
    padding-right: 32px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
}


.hero-sroll::after {
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 16px;
    height: 24px;
    background-image: url('./../img/arrow_down.svg');
    transform: translateY(-50%);

}

/*   MAIN   */

.container {
    max-width: 1462px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

/*      01 block      */

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 200px;
}

.article:nth-child(even) {
    flex-direction: row-reverse;
}


.article-text {
    position: relative;
    display: block;
    width: 632px;
    padding-left: 150px;
    max-width: 782px;
}

.article-text::before {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);

    display: block;
    content: '01';
    width: 240px;
    height: 240px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 240px;
    line-height: 1;
    color: #FFFFFF;
    opacity: 0.1;

}

.article-subtitle {
    margin-bottom: 32px;
    position: relative;
    padding-left: 104px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    margin-bottom: 27px;
}

.article-subtitle::before {
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.article-title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;
    max-width: 555px;
    margin-bottom: 27px;
}

.article-text p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    margin-bottom: 27px;
}

.article-read-more {
    display: inline-block;
    position: relative;
    padding-right: 32px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: #FBD784;
}

.article-read-more::after {
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 24px;
    height: 16px;
    background-image: url('./../img/arrow_downward_24px.png');
    transform: translateY(-50%);
}

.article-img {
    max-width: 566px;
    height: 720px;
}

/*FOOTER*/


.footer {
    padding-bottom: 120px;

}

.footer-copyright {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.footer-copyright-logo {
    margin-bottom: 24px;
}

.footer-nav-wrapper {}

.logo {}

.footer-copyright-desc {
    max-width: 303px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;

}

.footer-copyright-terms {
    margin-top: 122px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78;
    color: rgba(256, 256, 256, 0.5);
}



.footer-nav-wrapper {
    display: flex;
}

.footer-nav+.footer-nav {
    margin-left: 212px;
}

.footer-nav {
    max-width: 200px;

}

.footer-nav-tittle {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    color: #FBD784;
}



.footer-nav ul {
    margin: 0;
    padding: 0;
    margin-top: -16px;
}

.footer-nav li {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.footer-nav li:last-child {
    margin-bottom: 0;
}

.footer-nav a {
    position: relative;

}
.footer-nav a::after {
    position: absolute;
    top: 0;
    bottom: -10px;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    opacity: 0;
}
.footer-nav a:hover::after {
    position: absolute;
    
    left: 0;
    bottom: -5px;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    opacity: 1;
    transition: all 0.2s ease-in;
}